html,body{
    background: #99ccff;
    color: #fff;

    margin: 0;
}
.goed {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 7px 15px;   
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 500px;
}
.neutraal {
    background-color: #fff;
    border: none;
    color: white;
    padding: 7px 15px;   
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 500px;
}

.slecht {
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 7px 15px;   
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 500px;
}
p{
    color: white;
        border: solid white 2px;
        font-size: 11;
}

