.goed input[type=submit]{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 7px 15px;   
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 500px;
}
.neutraal input[type=submit]{
    background-color: #fff;
    border: none;
    color: white;
    padding: 7px 15px;   
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 500px;
}

.slecht input[type=submit]{
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 7px 15px;   
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 500px;
}
