.goed {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 3px 10px;   
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 500px;
}
.neutraal {
    background-color: #fff;
    border: none;
    color: white;
    padding: 3px 10px;   
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 500px;
}

.slecht {
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 3px 10px;   
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 500px;
}
