* {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(#48455D, #333142);
    background-size: cover;
    background-position: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: white;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.titleID {
    
}
.iframeID {
    width: 300px;
    height: 168px;
    background: url("../images/emma-watson.jpg");
    background-size: cover;
    margin: 20px;
    display: inline;
}
.iframeID:hover {
    transform: scale(1.15);
    transition: ease-out 0.3s;
    filter: brightness(50%);
}
.hoverWrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
.hoverWrapper:hover {
    transition: ease-out 0.3s;
}
.rating {
    width: 100%;
    height: 5px;
    background-color: yellow;
    position: absolute;
    bottom: 0;
}
