* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("../images/loginBG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}
p {
    color: white;
    font-size: 0.95em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
#loginWrapper {
    width: calc(100% - 20px);
    max-width: 500px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#loginLogo {
    width: 100px;
    margin: auto;
    margin-bottom: 50px;
}
#loginLogo img {
    width: 100px;
}
input[type=email],[type=password] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    margin: auto;
    margin-top: 12px;
    box-sizing: border-box;
}
input[type=email],[type=password]:focus {
    outline: none;  
}
input[type=submit] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: auto;
    margin-top: 12px;
    background-color: #FB4778;
    color: white;
    font-family: "Helvetica";
    transition: all 0.2s;
    cursor: pointer;
}
input[type=submit]:hover {
    cursor: pointer;
    background-color: #ed4270;

}