* {
    margin: 0;
    padding: 0;
}
.popUpWrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}
.popUp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90vh;
    width: 500px;
    background: linear-gradient(#48455D, #333142);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}
.iFrame {
    width:95%;
    margin: auto;
}